 
#kofi-item-grid {
    min-height: 320px;
    padding: 0 1em;
    border-radius: .2em;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(300px,3fr));
    grid-gap: 1.6em;
    width: 100%;
    max-width: 1000px;
}
 
a.shop-item {
    height: auto;
    max-height: 482px;
    max-width: 300px;
    -webkit-box-align: stretch;
    align-items: stretch;
    padding: 0;
    flex-flow: row wrap;
    -webkit-box-pack: start;
    -ms-user-select: none;
    user-select: none;
    border-radius: 14px;
    flex: 2 25%;
    margin: 0 auto;
    text-decoration: none;
    user-select: none;
    outline: 0;
    box-shadow: none !important;
    border-radius: 18px !important;
    position: relative;
    min-width: 270px;
    place-content: flex-start;
    box-sizing: border-box;
    background-color: #ffffff;
    display: flex; 
    min-height: 45px;
}

 

div.shop-item-thumbnail {
    width: 100%;
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    box-sizing: border-box;
    position: relative;
    border-radius: 18px 18px 0px 0px;
    padding: 0;
}

img.shop-item-thumbnail {
    width: 100%;
    min-width: 300px;
    max-width: 300px;
    height: 300px;
    max-height: 300px;
    object-fit: cover;
    border-radius: 14px 14px 0 0;
    image-rendering: auto;
    vertical-align: middle;
}

.shop-item-price-container {
    position: absolute;
    display: flex;
    bottom: 8px;
    padding: 0 8px;
    justify-content: flex-end;
    align-items: end;
    width: 100%;
    font-size: 16px;
}

span.shop-item-price {
    background-color: #fcbf47 !important;
    border-color: #fcbf47 !important;
    background: rgba(76, 141, 238, .9294117647);
    background-color: rgba(76, 141, 238, 0.93);
    color: #fff;
    padding: 2px 8px;
    border-radius: 8px;
}

.shop-item-details-container {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    align-items: flex-start;
    height: auto;
    padding: 16px;
    width: 100%;
    
}


.shop-item-details {
    width: 100%;
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    align-items: flex-start;
    position: relative;
}

span.shop-item-name {
    word-break: break-word;
    text-align: left;
    line-height: normal;
    height: auto;
    overflow: hidden;
    text-overflow: ellipsis;
    /* display: -webkit-box; */
    word-wrap: break-word;
    /* -webkit-line-clamp: 2;
  -webkit-box-orient: vertical; */
    white-space: pre-wrap;
    color: #192025;
    margin-bottom: 8px;
    font-weight: 600;
}

span.shop-item-description {
    word-break: break-word;
    text-align: left;
    line-height: normal;
    height: auto;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    word-wrap: break-word;
    /* -webkit-line-clamp: 2;
  -webkit-box-orient: vertical; */
    color: #192025;
    white-space: pre-wrap;
    opacity: .6;
    font-size: 14px !important;
}
 
.kofi-background {
    background-color: #f0f5fe;
}

.kofi-background-grey {
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.03) 0%, rgba(0, 0, 0, 0.03) 100%), linear-gradient(0deg, #fcbf470d 0%, #fcbf470d 100%), #FFF;
}